/*=====[[UTILITARY]]=====*/

.u-paddingFull-sm {
  padding: 0.6rem;
}

.u-padding-xl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.u-padding-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.u-padding-xs {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.u-paddingTop-md {
  padding-top: 1rem;
}

.u-paddingBottom-md {
  padding-bottom: 1rem;
}

.u-paddingNone {
  padding-left: 0;
  padding-right: 0;
}

.u-marginTop-md {
  margin-top: 1rem;
}

.u-marginBottom-md {
  margin-bottom: 1rem;
}

.u-marginBottom-xs {
  margin-bottom: 0.2rem;
}

.u-marginNone {
  margin: 0;
}

/*=====[[TYPOGRAPHY]]=====*/

.title-big {
  font-weight: 700;
}

.title-small {
  font-size: 0.9rem;
}

/*=====[[COMPONENTS]]=====*/

.c-followBtn {
  color: #8d2626!important;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .125);
}

.c-followBtn:hover {
  background-color: #8d2626 !important;
  color: #FFFFFF!important;
  border-color: #8d2626 !important;
}

/*=====[[HEADER]]=====*/

.headerLogo {
  width: 7rem;
  overflow: hidden;
  border-radius: 50%;
}

.navItem {
  color: #cecece;
}

.navItem.actif {
  color: #8d2626;
}

/*=====[[CARDS]]=====*/

.listCards {
  background-color: #e0e0e0;
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardSubtitle {
  color: #cecece;
}

.cardImage-Primary {
  position: relative;
}

.score {
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: rgba(0, 0, 0, .625);
  border-radius: 0.2rem;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
}