.u-padding-xs {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.u-paddingNone {
  padding-left: 0;
  padding-right: 0;
}

.u-marginTop-md {
  margin-top: 1rem;
}

.u-marginBottom-xs {
  margin-bottom: 0.2rem;
}

.headerLogo {
  width: 7rem;
}

.c-followBtn {
  color: #8d2626!important;
}

.c-followBtn:hover {
  background-color: #8d2626 !important;
  color: #FFFFFF!important;
  border-color: #8d2626 !important;
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardSubtitle {
  color: #797979;
}