/*====[[UTILITARY]]====*/

.u-flexBox {
  display: flex;
  flex-wrap: wrap;
}

.u-flexBox.centered {
  justify-content: center;
  align-items: center;
}

.u-flexBox.column {
  flex-direction: column;
}

.u-marginNone {
  margin: 0!important;
}

.u-marginBottom-md {
  margin-bottom: 1rem;
}

/*====[[TYPOGRAPHY]]====*/

.title-md {
  font-size: 1.2rem;
  font-weight: 500;
}

.paragraph-md {
  font-size: 1rem;
  font-weight: 400;
}

/*====[[COMPOSANT]]====*/

.c-linkBlank {
  text-decoration: none;
  color: inherit;
}

.c-listBlank {
  padding-inline-start: 0;
  list-style: none;
}

/*====[[CARD]]====*/

.card {
  width: 15.5rem;
  background-color: #037ab1;
  border: #FFFFFF 0.2rem solid;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-left: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

/*====[[HEADER]]====*/

.headerCard {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/*====[[LISTCONTAINER]]====*/

.listContainer {
  width: 100%;
}

/*====[[LISTITEM]]====*/

.listItem {
  width: auto;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  color: initial;
  padding: 0.3rem;
}