/*====[[UTILITARY]]====*/

.u-flexBox {
  display: flex;
  flex-wrap: wrap;
}

.u-flexBox.centered {
  justify-content: center;
  align-items: center;
}

.u-flexBox.column {
  flex-direction: column;
}

.u-marginNone {
  margin: 0!important;
}

/*====[[CARD]]====*/

.card {
  width: 15.5rem;
  background-color: #037ab1;
  border: #FFFFFF 0.2rem solid;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-left: 1rem;
}
