/*=====[[BASES]]=====*/

html, body, .mainContainer {
  margin: 0;
  width: 100%;
  height: auto;
}

/*=====[[LAYOUTS]]=====*/

.mainContainer {
  padding: 0.5rem, 1.5rem, 0.5rem, 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.exercicesContainer {
  width: 100%;
  margin: 1rem, 0.2rem, 1rem, 0.2rem;
  padding: 1rem;
}

.exercicesItem {
  width: 100%;
  border: 1px solid #c7c5c5;
  border-radius: 5px;
  padding: 0.5rem;
}

/*=====[[UTILITARY]]=====*/

.u-flexBox {
  display: flex;
  flex-wrap: wrap;
}

.u-flexBox.centered {
  justify-content: center;
  align-items: center;
}

.u-flexBox.column {
  flex-direction: column;
}

.u-marginNone {
  margin: none;
}

.u-marginTop-md {
  margin-top: 1.2rem;
}

.u-marginBottom-md {
  margin-bottom: 1.2rem;
}


/*=====[[TYPOGRAPHY]]=====*/

.title-xl {
  font-size: 2.4rem;
  font-weight: 900;
}

.title-md {
  font-size: 1.8rem;
  font-weight: 600;
}

.paragraph-md {
  font-size: 1.4rem;
  font-weight: 400;
}

.paragraph-sm {
  font-size: 1.2rem;
  font-weight: 400;
}

.paragraph-md.bold {
  font-weight: 600!important;
}

/*=====[[COMPONENTS]]=====*/

.c-listNone {
  list-style: none;
  padding-inline-start: 0;
}
