/*=====[[BASES]]=====*/

html, body, #root {
  margin: 0;
  width: 100%;
  height: auto;
}

/*=====[[LAYOUTS]]=====*/

.mainContainer {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.exercicesContainer {
  width: 100%;
  margin: 1rem 0.2rem 1rem 0.2rem;
  padding: 1rem;
}

.exercicesItem {
  width: 100%;
  border-top: 1px solid #c7c5c5;
  border-radius: 5px;
  padding: 2.5rem 0.5rem;
}

/*=====[[UTILITARY]]=====*/

.u-flexBox {
  display: flex;
  flex-wrap: wrap;
}

.u-flexBox.centered {
  justify-content: center;
  align-items: center;
}

.u-flexBox.column {
  flex-direction: column;
}

.u-marginNone {
  margin: unset;
}

.u-marginTop-md {
  margin-top: 1.2rem;
}

.u-marginBottom-md {
  margin-bottom: 1.2rem;
}

.u-marginBottom-sm {
  margin-bottom: 0.6rem;
}

.u-marginLeft-xl {
  margin-left: 6rem;
}

/*=====[[TYPOGRAPHY]]=====*/

.title-xl {
  font-size: 2.4rem;
  font-weight: 900;
}

.title-md {
  font-size: 1.8rem;
  font-weight: 600;
}

.title-sm {
  font-size: 1.4rem;
  font-weight: 600;
}

.paragraph-md {
  font-size: 1.4rem;
  font-weight: 400;
}

.paragraph-sm {
  font-size: 1.2rem;
  font-weight: 400;
}

.paragraph-xs {
  font-size: 0.8rem;
  font-weight: 300;
}

.paragraph-xxs {
  font-size: 0.4rem;
  font-weight: 200;
}

.paragraph-md.bold {
  font-weight: 600!important;
}

/*=====[[COMPONENTS]]=====*/

.c-listeNone {
  list-style: none;
  padding-inline-start: 0;
}

/*=====[[Exercice 1]]=====*/

.adressLabel {
  border: 1px solid #c7c5c5;
  padding: 1rem;
}

/*=====[[Exercice 2]]=====*/

.envelope {
  border: 1px solid #c7c5c5;
  padding: 1rem;
}

.fromContainer {
  justify-content: space-between;
}

.from {
  margin-right: 8rem;
}

.stamp > img {
  width: 100%;
  max-width: 4.5rem;
  height: auto;
}

.to {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*=====[[Exercice 3]]=====*/

.creditCard {
  background-color: #197a3a;
  color: #FFFFFF;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 0 1.2rem 0 1.2rem;
}

.bankName > h3 {
  text-align: end;
  margin-bottom: 3rem;
}

.cardNumber {
  word-spacing: 1.4rem;
}

.expirationBox {
  width: 1.5rem;
}

/*=====[[Exercice 4]]=====*/

.poster {
  background-color: #000000;
  padding: 3rem 5rem;
  color: #FFFFFF;
}

.posterImg > img {
  width: 100%;
  max-width: 50rem;
  height: auto;
  border: 2rem double #FFFFFF;
}

.bigLetter {
  font-size: 4.2rem;
}

.wordTitle {
  padding-top: 0.2rem;
}