/*=====[[BASES]]=====*/

html, body, #root {
  margin: 0;
  width: 100%;
  height: auto;
}

/*=====[[LAYOUTS]]=====*/

.mainContainer {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.childBox {
  padding: 2rem;
  border: #ac3232 solid 0.1rem;
  border-radius: 10px;
}

/*=====[[UTILITARY]]=====*/

.u-flexBox {
  display: flex;
  flex-wrap: wrap;
}

.u-flexBox.centered {
  justify-content: center;
  align-items: center;
}

.u-flexBox.column {
  flex-direction: column;
}

.u-marginBottom-lg {
  margin-bottom: 4.6rem;
}

.u-marginBottom-sm {
  margin-bottom: 1.2rem;
}

.u-marginRight-xs {
  margin-right: 0.4rem;
}

/*=====[[TYPOGRAPHY]]=====*/

.paragraph-md {
  font-size: 1.2rem;
  font-weight: 400;
}

.decored {
  text-decoration: underline;
}

/*=====[[COMPOSANT]]=====*/

.c-exerciceTitle {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.c-circle {
    color: #ac3232;
    text-align: center;
    border: #ac3232 solid 0.1rem;
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
}

/*=====[[WARNING BOX]]=====*/

.warningBox {
  display: flex;
  width: 20rem;
  height: auto;
}

.iconBox {
  margin-right: 0.5rem;
}

.iconBox i {
  font-size: 1.5rem;
}

.textBox p {
  margin-bottom: 0;
}

.childSize {
  font-size: 2rem;
}