/*=====[[BASES]]=====*/

html, body, #root {
  margin: 0;
  width: 100%;
  height: auto;
}

/*=====[[LAYOUTS]]=====*/

.mainContainer {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*=====[[WARNING BOX]]=====*/

.warningBox {
  display: flex;
  width: 20rem;
  height: auto;
}

.iconBox {
  margin-right: 0.5rem;
}

.iconBox i {
  font-size: 1.5rem;
}

.textBox p {
  margin-bottom: 0;
}